@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Primary colors */
  --primary-dark-blue: #00A1A6;
  --primary-blue: #08BCC1;
  --primary-lightest-blue: #E6F8F9;
  
  /* Secondary colors */
  --secondary-darkest-moss: #4F7469;
  --secondary-moss: #C6D7D2;
  --secondary-camel: #F1D3B2;
  --secondary-sand: #F3EDEA;
  --secondary-light-sand: #F7F5F5;
  
  /* Greyscale colors */
  --almost-black: #001010;
  --darker-grey: #4d5555;
  --dark-grey: #808686;
  --grey: #b2b6b6;
  --light-grey: #d9dbdb;
  --almost-white: #f2f3f3;
  
  /* State colors */
  --state-error: #CD2232;
  --state-success: #0FBA67;
  --state-warning: #FFB800;
  --state-information: #0FA5BA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Primary colors */
  --color-primary-dark-blue: var(--primary-dark-blue);
  --color-primary-blue: var(--primary-blue);
  --color-primary-lightest-blue: var(--primary-lightest-blue);
  
  /* Secondary colors */
  --color-secondary-darkest-moss: var(--secondary-darkest-moss);
  --color-secondary-moss: var(--secondary-moss);
  --color-secondary-camel: var(--secondary-camel);
  --color-secondary-sand: var(--secondary-sand);
  --color-secondary-light-sand: var(--secondary-light-sand);
  
  /* Greyscale colors */
  --color-almost-black: var(--almost-black);
  --color-darker-grey: var(--darker-grey);
  --color-dark-grey: var(--dark-grey);
  --color-grey: var(--grey);
  --color-light-grey: var(--light-grey);
  --color-almost-white: var(--almost-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

