.primary {
  background-color: var(--primary-blue) !important;
  border-color: var(--primary-blue) !important;
  color: white !important;
}

.primary:hover {
  background-color: var(--primary-dark-blue) !important;
  border-color: var(--primary-dark-blue) !important;
}

.secondary {
  background-color: white !important;
  border-color: var(--light-grey) !important;
  color: var(--darker-grey) !important;
}

.secondary:hover {
  background-color: white !important;
  border-color: var(--grey) !important;
}

.text {
  background-color: transparent !important;
  color: var(--primary-blue) !important;
  border: none !important;
}

.text:hover {
  background-color: transparent !important;
  color: var(--primary-dark-blue) !important;
}

/* Disabled and Loading states */
.primary:disabled,
.primary[data-loading="true"],
.secondary:disabled,
.secondary[data-loading="true"],
.text:disabled,
.text[data-loading="true"] {
  background-color: var(--light-grey) !important;
  border-color: var(--light-grey) !important;
  color: white !important;
}

.primary:disabled:hover,
.primary[data-loading="true"]:hover,
.secondary:disabled:hover,
.secondary[data-loading="true"]:hover,
.text:disabled:hover,
.text[data-loading="true"]:hover {
  background-color: var(--light-grey) !important;
  border-color: var(--light-grey) !important;
  color: white !important;
}