.wrapper {
  border: 1px solid var(--mantine-color-gray-4);
  border-radius: 0.375rem;
  overflow: hidden;
}

.table {
  border: none !important;
}

.table[data-striped="true"] tbody tr:nth-of-type(odd) {
  background-color: var(--secondary-light-sand) !important;
}

.table[data-checkboxes="true"] tbody tr[data-selected="true"] {
  background-color: var(--primary-lightest-blue) !important;
}